Data06/Makefile
Data07/Makefile
Data08/Makefile
Data09/Makefile
Data10/Makefile
Data11/Makefile
Data12/Makefile
Data16/Makefile
Data17/Makefile
Data18/Makefile
Data19/Makefile
Data20/Makefile
Data21/Makefile
Data22/Makefile
Data23/Makefile
Data24/Makefile
Data25/Makefile
Data26/Makefile
Data27/Makefile
Data28/Makefile
Data29/Makefile
Data30/Makefile
Makefile
config.cache
config.log
config.status